
.bottom-buttons{
    display: none;
}
@media (max-width: 614px){
    .right-content{
        display: none;
    }
    .hide-mobile{
        display: none;
    }
    .icon-right{
        right: 0px;
    }
    .icon-right-mobile{
        display: flex;
        margin-right: 0;
    }
    .img-logo-instagram{
        display: flex;
        position: absolute;
        top: 15px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        border: none;
        padding: 0;
    }
    .content{
        width: 100%;
        margin-top: 55px;
    }
    .stories-box{
        border: none;
        background-color: #FAFAFA;
        height: 105px;
    }
    .post{
        border-radius: 0;
    }
    .left-content{
        width: 100%;
    }
    .footer-mobile{
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 54px;
        z-index: 4;
    }
    .bottom-buttons{
        background-color: #FFFFFF;
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 96%;
        height: 54px;
    }
    .cooment-post{
        padding-bottom: 5px;
    }
}