.right-content{
    position: fixed;
    z-index: 1;
    right: calc(50% - 468px);
    background-color: #FAFAFA;
    width: 320px;
    height: 450px;
}
.sidebar{
    margin-left: 29px;
}
.myprofile{
    display: flex;
    align-items: center;
}
.myprofile-text{
    margin-left: 17px;
}
.name-profile{
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-bottom: 5px;
}
.profile-link{
    font-weight: bold;
    color: #262626;
}
.profile-link-small{
    color: #8E8E8E;
}
.profile-not-link{
    color: #8E8E8E;
}
.sugestions{
    margin-top: 24px;
}
.sugestion{
    position: relative;
    margin-bottom: 17px;
}
.sugestions-title{
    text-decoration: none;
    color: #8E8E8E;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.all-sugestions{
    text-decoration: none;
    color: #262626;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.sugestion-follow{
    position: absolute;
    right: 0px;
    top: 0px;
}
.follow-sugestion-link{
    text-decoration: none;
    font-weight: bolder;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #0095F6;
    transition: color 300ms;
}
.follow-sugestion-link:hover{
    color: #B2DFFC;
}
.bottom-sidebar-text{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #8E8E8E;
}
.bottom-sidebar{
    margin-top: 25px;
}
.copyright{
    display: block;
    margin-top: 18px;
}
@media (max-width: 935px){
    .right-content{
        display: none;
    }
    .navbar{
        width: 96%;
    }
    .search-box{
        width: 22%;
    }
    .left-content{
        width: 100%;
    }
    .stories-box{
        padding-left: 12.5px;
    }
    .storie{
        margin-right: 12.5px;
    }
    .post{
        height: auto;
        padding-bottom: 15px;
    }
    .img-post{
        height: auto;
    }
    .comment-post{
        padding-bottom: 5px;
    }
}
@media (max-width: 935px) and (min-width: 614px){
    .content{
        width: 85%;
    }
}